*{
    margin: 0;
    ppadding: 0;
}

header{
   background-image: url(https://i.imgur.com/jixQTnH.jpg);
   height: 100vh;
   background-size: cover;
   background-position: center;

}


.main-nav{
     float: right;
     list-style: none;
     margin-top: 30px;
}


.main-nav li{
  display: inline-block;
}

.main-nav li a{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;

}

.main-nav li.active a{
  border: 1px solid white;

}

.main-nav li:hover a{
  border: 1px solid white;
}

.logo img{
  width: 150px;
  height: auto;
  float: left;
}

body{
  font-family: monospace;
}

.row{
  max-width: 1200px;
  margin: auto;
}

.hero{
  position: fixed;
  width: 1200px;
  margin-left: 0;
  margin-top: 0;

}

h1{
  color: white;
  text-transform: uppercase;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: top 275px;
  margin: 50vh
}
h1{
  border-style: solid;
  border-width: thick;
  margin-right: 300px;

}
