* {
  margin: 0;
  ppadding: 0;
}

header {
  background-image: url(https://i.imgur.com/jixQTnH.jpg);
  height: 6500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.sources li a {
  display: inline-block;
}

.bronnen{
  display: inline-block;

}

.sources li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

li {
  list-style-type: none;
}

.sources li:hover a {
  border: 3px solid white;
}

.studiewijzer li a {
  display: inline-block;
}

.studiewijzer li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  list-style: none;
}

.studiewijzer {
  float: left;
  list-style: none;
  margin-top: 30px;
}

.studiewijzer li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.studiewijzer li:hover a {
  border: 3px solid white;
}

.main-nav li.active a {
  border: 3px solid white;
}

.main-nav li:hover a {
  border: 3px solid white;
}

.logo img {
  width: 150px;
  height: auto;
  float: left;
}

body {
  font-family: monospace;
}

.row {
  max-width: 1200px;
  margin: auto;
}

.hero {
  position: fixed;
  width: 500px;
  margin-left: 0;
  margin-top: 0;
}

.list-positive {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  list-style-type: none;
  text-align: center;
}

.header-positive {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.list-negative {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  list-style-type: none;
  text-align: center;
}

.header-negative {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.introduction {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.introduction {
  border-style: solid;
  border-width: thick;
  margin-right: 300px;
  width: 300px;
  background: rgb(204, 204, 204);
  background: rgba(0, 0, 0, 0.5);
}

.introduction {
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 50%;
}

.introduction {
  height: 240px;
  width: 400px;
  top: 49%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
}

.motivation {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.motivation {
  border-style: solid;
  border-width: thick;
  margin-right: 300px;
  width: 300px;
  background-color: #000000;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
}

.motivation {
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 50%;
}

.motivation {
  height: 1520px;
  width: 500px;
  top: 60%;
  left: 43%;
  margin-top: -100px;
  margin-left: -200px;
}

.puzzle {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.puzzle {
  border-style: solid;
  border-width: thick;
  margin-right: 300px;
  width: 300px;
  background-color: #000000;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
}

.puzzle {
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 50%;
}

.puzzle {
  height: 550px;
  width: 500px;
  top: 250%;
  left: 43%;
  margin-top: -100px;
  margin-left: -200px;
}

.software {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.software {
  border-style: solid;
  border-width: thick;
  margin-right: 300px;
  width: 300px;
  background-color: #000000;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
}

.software {
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 50%;
}

.software {
  height: 930px;
  width: 500px;
  top: 325%;
  left: 43%;
  margin-top: -100px;
  margin-left: -200px;
}

.prestatie {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.prestatie {
  border-style: solid;
  border-width: thick;
  margin-right: 300px;
  width: 300px;
  background-color: #000000;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
}

.prestatie {
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 50%;
}

.prestatie {
  height: 700px;
  width: 500px;
  top: 445%;
  left: 43%;
  margin-top: -100px;
  margin-left: -200px;
}

.carriere {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.carriere {
  border-style: solid;
  border-width: thick;
  margin-right: 300px;
  width: 300px;
  background-color: #000000;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
}

.carriere {
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 50%;
}

.carriere {
  height: 660px;
  width: 500px;
  top: 540%;
  left: 43%;
  margin-top: -100px;
  margin-left: -200px;
}

.conclusie {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.conclusie {
  border-style: solid;
  border-width: thick;
  margin-right: 300px;
  width: 300px;
  background-color: #000000;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
}

.conclusie {
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 50%;
}

.conclusie {
  height: 470px;
  width: 500px;
  top: 630%;
  left: 43%;
  margin-top: -100px;
  margin-left: -200px;
}

.bronnen {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.bronnen {
  border-style: solid;
  border-width: thick;
  margin-right: 300px;
  width: 300px;
  background-color: #000000;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
}

.bronnen {
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 50%;
}

.bronnen {
  height: 670px;
  width: 500px;
  top: 695%;
  left: 43%;
  margin-top: -100px;
  margin-left: -200px;
}



.hero {
  border-style: solid;
  border-width: thick;
  margin-right: 300px;
  width: 300px;
  background: rgb(204, 204, 204);
  background: rgba(0, 0, 0, 0.2);
}

.hero {
  line-height: 35px;
  position: absolute;
  text-align: center;
}

.hero {
  height: 40px;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  color: white !important;
  font-family: "Roboto", sans-serif;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  text-align: left;
  padding: 4px;
  font-family: "Roboto", sans-serif;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

tr:nth-child(odd) {
  background-color: #f2f2f2
}

th {
  background-color: rgb(248, 207, 83);
  ;
  color: white;
}
