body {
    margin: 0;
    padding: 0;

}
.banner {
    width: 100%;



}

.nav {
  background-color: #1F2833;
  max-width: 17%;
  min-width: 100px;
  flex: 1;
  max-height: 0%;
  min-height: 700px


}

.nav h2 {
  padding-left: 10px;
}

.nav li{
  padding-left: 0px;
}
